
#SetEnv APPLICATION_ENV production
#DirectoryIndex index.php

#AddHandler x-mapp-php5 .php
#AddType x-mapp-php5 .php

<IfModule mod_headers.c>
  Header set X-UA-Compatible "IE=Edge,chrome=1"
</IfModule>

<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{HTTPS} !=on
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]
  
  RewriteCond %{REQUEST_URI} ^(.*)/clearcache$
  RewriteRule ^(.*)/clearcache$ %1/?cache=clear [NC,L]
  
</IfModule>

Options -MultiViews

AddDefaultCharset utf-8

<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>


